**/ipynb_checkpoints
**/.DS_Store
**/__pycache__
./artifacts/transformers
./prediction/cron_env.sh
./transformers/sttre/configs/config.env
./transformers/sttre/sttre.ipynb
./transformers/train.ipynb
./deploy.ipynb
./app_stack.yml
